<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem PMB UMC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='UMC.png') }}">
    <script>
        function startCountdown() {
            var countDownDates = [
                new Date("Apr 30, 2024 23:59:59").getTime(),  // Gelombang 1
                new Date("Jul 30, 2024 23:59:59").getTime(),  // Gelombang 2
                new Date("Sep 30, 2024 23:59:59").getTime()   // Gelombang 3
            ];

            var countdownElements = [
                document.getElementById("countdown1"),
                document.getElementById("countdown2"),
                document.getElementById("countdown3")
            ];

            var x = setInterval(function() {
                var now = new Date().getTime();

                for (var i = 0; i < countDownDates.length; i++) {
                    var distance = countDownDates[i] - now;

                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    if (distance < 0) {
                        countdownElements[i].innerHTML = "EXPIRED";
                    } else {
                        countdownElements[i].innerHTML = days + "d " + hours + "h "
                        + minutes + "m " + seconds + "s ";
                    }
                }
            }, 1000);
        }
    </script>
</head>
<body onload="startCountdown()">
    <header>
        <h1 style="color: whitesmoke;">UNIVERSITAS MUHAMMADIYAH CIREBON</h1>
    </header>
    <nav>
        <a href="{{ url_for('index') }}">Beranda</a>
        <div class="dropdown">
            <a href="#" class="dropbtn">Pendaftaran</a>
            <div class="dropdown-content">
                <a href="{{ url_for('pendaftaran') }}">Pendaftaran Mahasiswa Baru</a>
                <a href="{{ url_for('informasi_pendaftar') }}">Informasi Pendaftar</a>
            </div>
        </div>
        
        <div class="dropdown">
            <a href="#" class="dropbtn">Informasi</a>
            <div class="dropdown-content">
                <a href="{{ url_for('informasi_kampus') }}">Informasi Seputar Kampus</a>
                <a href="{{ url_for('pengaturan_program_studi') }}">Informasi Fakultas dan Program Studi</a>
                <a href="{{ url_for('countdown') }}">Informasi Pendaftaran</a>
            </div>
        </div>
        <div class="dropdown">
            {% if session.get('username') %}
                <a href="#" class="dropbtn">Profile</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('profile') }}">Ubah Sandi</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
            {% else %}
                <a href="{{ url_for('login') }}" class="dropbtn">Login</a>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        <h1>Batas Pendaftaran Gelombang</h1>
        <h2 style="text-align: center;">Gelombang 1 (13 November 2023 - 30 April 2024)</h2>
        <div id="countdown1" style="font-size: 2em; color: red; text-align: center;"></div>
        
        <h2 style="text-align: center;">Gelombang 2 (01 Mei 2024 - 30 Juli 2024)</h2>
        <div id="countdown2" style="font-size: 2em; color: red; text-align: center;"></div>
        
        <h2 style="text-align: center;">Gelombang 3 (01 Agustus 2024 - 30 September 2024)</h2>
        <div id="countdown3" style="font-size: 2em; color: red; text-align: center;"></div>

        <h2>Rincian Biaya</h2>
        <table border="1">
            <tr>
                <th>NO</th>
                <th>PROGRAM STUDI</th>
                <th>UANG GEDUNG</th>
                <th>DPP</th>
                <th>UKT</th>
                <th>REGISTRASI</th>
            </tr>
            <tr>
                <td>1</td>
                <td>FAKULTAS EKONOMI DAN BISNIS</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td></td>
                <td>S1-AKUTANSI</td>
                <td>6.000.000</td>
                <td>6.000.000</td>
                <td>5.000.000</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>S1-MANAJEMEN</td>
                <td>6.500.000</td>
                <td>6.500.000</td>
                <td>5.000.000</td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>FAKULTAS ILMU SOSIAL DAN ILMU POLITIK</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td></td>
                <td>D3-HUBUNGAN MASYARAKAT</td>
                <td>5.000.000</td>
                <td>5.000.000</td>
                <td>2.500.000</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>S1-ILMU KOMUNIKASI</td>
                <td>5.500.000</td>
                <td>5.500.000</td>
                <td>4.000.000</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>S1-ILMU PEMERINTAHAN</td>
                <td>5.500.000</td>
                <td>5.500.000</td>
                <td>3.500.000</td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td>FAKULTAS TEKNIK</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td></td>
                <td>D3-TEKNIK INFORMATIKA</td>
                <td>5.000.000</td>
                <td>5.000.000</td>
                <td>2.500.000</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>S1-TEKNIK INDUSTRI</td>
                <td>6.000.000</td>
                <td>6.000.000</td>
                <td>4.000.000</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>S1-TEKNIK INFORMATIKA</td>
                <td>6.500.000</td>
                <td>6.500.000</td>
                <td>5.000.000</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>S1-PETERNAKAN</td>
                <td>5.000.000</td>
                <td>5.000.000</td>
                <td>3.500.000</td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td>FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td></td>
                <td>S1-PG-PAUD</td>
                <td>6.000.000</td>
                <td>6.000.000</td>
                <td>3.500.000</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>S1-PGSD</td>
                <td>6.500.000</td>
                <td>6.500.000</td>
                <td>4.500.000</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>S1-PENDIDIKAN BAHASA INGGRIS</td>
                <td>6.000.000</td>
                <td>6.000.000</td>
                <td>8.000.000</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>S1-PENDIDIKAN IPA</td>
                <td>6.000.000</td>
                <td>6.000.000</td>
                <td>3.500.000</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>S1-PENDIDIKAN KIMIA</td>
                <td>6.000.000</td>
                <td>6.000.000</td>
                <td>3.500.000</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>S1-PENDIDIKAN MATEMATIKA</td>
                <td>6.000.000</td>
                <td>6.000.000</td>
                <td>3.500.000</td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td>FAKULTAS HUKUM</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td></td>
                <td>S1 ILMU HUKUM</td>
                <td>5.500.000</td>
                <td>5.500.000</td>
                <td>4.000.000</td>
                <td>2.600.000</td>
            </tr>
            <tr>
                <td>6</td>
                <td>FAKULTAS ILMU KESEHATAN</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td></td>
                <td>S1-ILMU KEPERWATAN</td>
                <td>7.000.000</td>
                <td>7.000.000</td>
                <td>8.000.000</td>
                <td>3.000.000</td>
            </tr>
            <tr>
                <td></td>
                <td>S1-GIZI</td>
                <td>6.500.000</td>
                <td>6.500.000</td>
                <td>5.500.000</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>S1-ILMU KEOLAHRAGAAN</td>
                <td>6.000.000</td>
                <td>6.000.000</td>
                <td>4.000.000</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>PROFESI NERS A</td>
                <td>FREE</td>
                <td>FREE</td>
                <td>9.600.000</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>PROFESI NERS B</td>
                <td>4.000.000</td>
                <td>4.000.000</td>
                <td>9.600.000</td>
                <td>1.000.000</td>
            </tr>
            <tr>
                <td>7</td>
                <td>FAKULTAS AGAMA ISLAM</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td></td>
                <td>S1-ILMU AL-QUR’AN DAN TAFSIR</td>
                <td>4.000.000</td>
                <td>4.000.000</td>
                <td>2.000.000</td>
                <td>2.600.000</td>
            </tr>
            <tr>
                <td></td>
                <td>S1-TASAWUF DAN PSIKOTERAPI</td>
                <td>4.000.000</td>
                <td>4.000.000</td>
                <td>2.000.000</td>
                <td></td>
            </tr>
        </table>

        <h2>Potongan DPP dan Uang Gedung</h2>
        <ul style="margin-left: 30px;">
            <li>POTONGAN 50% (RAPORT/PRESTASI, UMUM, PERSYARIKATAN)</li>
            <li>KHUSUS PENDAFTAR (GELOMBANG 1 ) 8 JUTA</li>
            <li>KHUSUS PENDAFTAR (GELOMBANG 2 ) 7 JUTA</li>
            <li>KHUSUS PENDAFTAR (GELOMBANG 3 ) 6 JUTA</li>
        </ul>

        <br><h2>Jalur Raport/Prestasi/Persyarikatan Muhammadiyah</h2>
        <table border="1">
            <tr>
                <th>URAIAN</th>
                <th>GELOMBANG 1</th>
                <th>GELOMBANG 2</th>
                <th>GELOMBANG 3</th>
            </tr>
            <tr>
                <td>PENDAFTARAN</td>
                <td>13 NOV 2023 - 30 APRIL 2024</td>
                <td>1 MEI 2024 - 30 JULI 2024</td>
                <td>1 AGUST 2024 - 30 SEPT 2024</td>
            </tr>
            <tr>
                <td>TES & PENGUMUMAN</td>
                <td>LANGSUNG</td>
                <td>LANGSUNG</td>
                <td>LANGSUNG</td>
            </tr>
            <tr>
                <td>REGISTRASI</td>
                <td>13 NOV 2023 - 30 APRIL 2024</td>
                <td>1 MEI 2024 - 30 JULI 2024</td>
                <td>1 AGUST 2024 - 30 SEPT 2024</td>
            </tr>
        </table>

        <h2>Jalur Umum</h2>
        <table border="1">
            <tr>
                <th>URAIAN</th>
                <th>GELOMBANG 1</th>
                <th>GELOMBANG 2</th>
                <th>GELOMBANG 3</th>
            </tr>
            <tr>
                <td>PENDAFTARAN</td>
                <td>13 NOV 2023 - 30 APRIL 2024</td>
                <td>1 MEI 2024 - 30 JULI 2024</td>
                <td>1 AGUST 2024 - 30 SEPT 2024</td>
            </tr>
            <tr>
                <td>TES & PENGUMUMAN</td>
                <td>LANGSUNG</td>
                <td>LANGSUNG</td>
                <td>LANGSUNG</td>
            </tr>
            <tr>
                <td>REGISTRASI</td>
                <td>13 NOV 2023 - 30 APRIL 2024</td>
                <td>1 MEI 2024 - 30 JULI 2024</td>
                <td>1 AGUST 2024 - 30 SEPT 2024</td>
            </tr>
        </table>
        <a href="tutorial_pembayaran.html" class="btn">Tutorial Pembayaran</a>
    </div>
    <footer>
        <p>&copy; 2024 Sistem Penerimaan Mahasiswa Baru UMC. Made with ❤️</p>
    </footer>
</body>
</html>
