<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem PMB UMC</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/UMC.png">
</head>
<body>
    <header>
        <h1 style="color: whitesmoke;">UNIVERSITAS MUHAMMADIYAH CIREBON</h1>
    </header>
    <nav>
        <a href="{{ url_for('index') }}">Beranda</a>
        <div class="dropdown">
            <a href="#" class="dropbtn">Pendaftaran</a>
            <div class="dropdown-content">
                <a href="{{ url_for('pendaftaran') }}">Pendaftaran Mahasiswa Baru</a>
                <a href="{{ url_for('informasi_pendaftar') }}">Informasi Pendaftar</a>
            </div>
        </div>
        
        <div class="dropdown">
            <a href="#" class="dropbtn">Informasi</a>
            <div class="dropdown-content">
                <a href="{{ url_for('informasi_kampus') }}">Informasi Seputar Kampus</a>
                <a href="{{ url_for('pengaturan_program_studi') }}">Informasi Fakultas dan Program Studi</a>
                <a href="{{ url_for('countdown') }}">Informasi Pendaftaran</a>
            </div>
        </div>
        <div class="dropdown">
            {% if session.get('username') %}
                <a href="#" class="dropbtn">Profile</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('profile') }}">Ubah Sandi</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
            {% else %}
                <a href="{{ url_for('login') }}" class="dropbtn">Login</a>
            {% endif %}
        </div>
    </nav>
    <div class="container" style="width: 850px;">
        <h1>FORMULIR PENDAFTARAN MAHASISWA</h1>
        <form action="/pendaftaran.html" method="post" enctype="multipart/form-data">
            <label for="nama">Nama Lengkap :</label>
            <input type="text" id="nama" name="nama" required>
            
            <label for="tempat_lahir">Tempat Lahir :</label>
            <input type="text" id="tempat_lahir" name="tempat_lahir" required>

            <label for="tanggal_lahir">Tanggal Lahir :</label>
            <input type="date" id="tanggal_lahir" name="tanggal_lahir" required>
            
            <label for="jenis_kelamin">Jenis Kelamin :</label>
            <select id="jenis_kelamin" name="jenis_kelamin" required>
                <option value="">Pilih Jenis Kelamin</option>
                <option value="Laki-laki">Laki-laki</option>
                <option value="Perempuan">Perempuan</option>
            </select>
            
            <label for="alamat">Alamat Rumah :</label>
            <textarea id="alamat" name="alamat" required></textarea>
            
            <label for="telepon">Nomor Telepon/HP :</label>
            <input type="tel" id="telepon" name="telepon" required>
            
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required>
            
            <label for="nik">Nomor Induk Kependudukan (NIK) :</label>
            <input type="text" id="nik" name="nik" required>
            
            <label for="sekolah_asal">Nama Sekolah Asal :</label>
            <input type="text" id="sekolah_asal" name="sekolah_asal" required>
            
            <label for="tahun_lulus">Tahun Lulus :</label>
            <input type="number" id="tahun_lulus" name="tahun_lulus" required>
            
            <label for="jurusan">Pilihan Program Studi atau Jurusan :</label>
            <select id="jurusan" name="jurusan" required>
                <option value="">Pilih Jurusan</option>
                <option value="MNJ">Manajemen (S1)</option>
                <option value="AK">Akuntansi (S1)</option>
                <option value="ILKOM">Ilmu Komunikasi (S1)</option>
                <option value="ILPEM">Ilmu Pemerintahan (S1)</option>
                <option value="PTN">Peternakan (S1)</option>
                <option value="TI">Teknik Industri (S1)</option>
                <option value="TIF">Teknik Informatika (S1)</option>
                <option value="PENMAT">Pendidikan Matematika (S1)</option>
                <option value="PENKIM">Pendidikan Kimia (S1)</option>
                <option value="PENBING">Pendidikan Bahasa Inggris (S1)</option>
                <option value="PGSD">Pendidikan Guru Sekolah Dasar (S1)</option>
                <option value="ILKEP">Ilmu Keperawatan (S1)</option>
                <option value="PGPAUD">Pendidikan Guru Pendidikan Anak Usia Dini (S1)</option>
                <option value="NERS">Profesi Ners (PROFESI)</option>
                <option value="ILHUK">Ilmu Hukum (S1)</option>
                <option value="PIPA">Pendidikan Ilmu Pengetahuan Alam (S1)</option>
                <option value="TASPI">Tasawuf dan Psikoterapi (S1)</option>
                <option value="IAT">Ilmu Al-Qur'an dan Tafsir (S1)</option>
                <option value="ILOR">Ilmu Keolahragaan (S1)</option>
                <option value="GIZI">Gizi (S1)</option>
                <option value="HUMAS">Hubungan Masyarakat (D3)</option>
                <option value="PGSDDALJAB1">PPG PGSD DALJAB Kategori 1 (PROFESI)</option>
                <option value="PGSDDALJAB2">PPG PGSD DALJAB Kategori 2 (PROFESI)</option>
                <option value="PGSDPRAJAB">PPG PGSD PRAJAB (PROFESI)</option>
                <option value="PAUDDALJAB1">PPG PAUD DALJAB Kategori 1 (PROFESI)</option>
                <option value="PAUDDALJAB2">PPG PAUD DALJAB Kategori 2 (PROFESI)</option>
                <option value="PAUDPRAJAB">PPG PAUD PRAJAB (PROFESI)</option>
                <option value="TIFD3">Teknik Informatika (D3)</option>
                <option value="IPADALJAB1">PPG IPA DALJAB Kategori 1 (PROFESI)</option>
                <option value="IPADALJAB2">PPG IPA DALJAB Kategori 2 (PROFESI)</option>
            </select>
            
            <label for="nama_ayah">Nama Ayah :</label>
            <input type="text" id="nama_ayah" name="nama_ayah" required>
            
            <label for="pekerjaan_ayah">Pekerjaan Ayah :</label>
            <input type="text" id="pekerjaan_ayah" name="pekerjaan_ayah" required>
            
            <label for="nama_ibu">Nama Ibu :</label>
            <input type="text" id="nama_ibu" name="nama_ibu" required>
            
            <label for="pekerjaan_ibu">Pekerjaan Ibu :</label>
            <input type="text" id="pekerjaan_ibu" name="pekerjaan_ibu" required>
            
            <label for="nama_wali">Nama Wali (jika ada) :</label>
            <input type="text" id="nama_wali" name="nama_wali">
            
            <label for="pekerjaan_wali">Pekerjaan Wali (jika ada) :</label>
            <input type="text" id="pekerjaan_wali" name="pekerjaan_wali">
            
            <label for="alamat_orangtua">Alamat Orang Tua/Wali :</label>
            <textarea id="alamat_orangtua" name="alamat_orangtua" required></textarea>
            
            <label for="telepon_orangtua">Nomor Telepon/HP Orang Tua/Wali :</label>
            <input type="tel" id="telepon_orangtua" name="telepon_orangtua" required>
            
            <!-- Bagian Upload -->
            <label for="foto">Unggah Pas Foto Berwarna :</label>
            <input type="file" id="foto" name="foto" required>
            
            <label for="ktp">Unggah Scan KTP/SIM/Kartu Identitas lainnya :</label>
            <input type="file" id="ktp" name="ktp" required>
            
            <label for="kk">Unggah Scan Kartu Keluarga  :</label>
            <input type="file" id="kk" name="kk" required>
            
            <label for="aktalahir">Unggah Scan Akta Lahir :</label>
            <input type="file" id="aktalahir" name="aktalahir" required>
            
            <label for="ijazah">Unggah Scan Ijazah/SKL/Raport :</label>
            <input type="file" id="ijazah" name="ijazah" required>
            
            <label for="prestasi">Piagam Prestasi (Khusus Jalur Prestasi) :</label>
            <input type="file" id="prestasi" name="prestasi" required>
            
            <label for="syarikat">Surat Rekomendasi Persyarikatan (Khusus Jalur Persyarikatan) :</label>
            <input type="file" id="syarikat" name="syarikat" required>
    </div>    
    <div class="container" style="width: 850px;">
        <label for="pernyataan">Pernyataan Kebenaran Data :</label>
        <input type="checkbox" id="pernyataan" name="pernyataan" required>
        <label for="pernyataan">Saya menyatakan bahwa data yang diisi adalah benar dan setuju dengan <a href="sk.html">syarat dan ketentuan</a></label>
        <button class="btn"; type="submit";>Submit</button>
        <!-- <input type="submit" value="Kirim Pendaftaran"> -->
        </form>
    </div>
    <footer>
        <p>&copy; 2024 Sistem Penerimaan Mahasiswa Baru UMC. Made with ❤️</p>
    </footer>
</body>
</html>