<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem PMB UMC</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/UMC.png">
</head>
<body>
    <header>
        <h1 style="color: whitesmoke;">UNIVERSITAS MUHAMMADIYAH CIREBON</h1>
    </header>
    <nav>
        <a href="{{ url_for('index') }}">Beranda</a>
        <div class="dropdown">
            <a href="#" class="dropbtn">Pendaftaran</a>
            <div class="dropdown-content">
                <a href="{{ url_for('pendaftaran') }}">Pendaftaran Mahasiswa Baru</a>
                <a href="{{ url_for('informasi_pendaftar') }}">Informasi Pendaftar</a>
            </div>
        </div>
        
        <div class="dropdown">
            <a href="#" class="dropbtn">Informasi</a>
            <div class="dropdown-content">
                <a href="{{ url_for('informasi_kampus') }}">Informasi Seputar Kampus</a>
                <a href="{{ url_for('pengaturan_program_studi') }}">Informasi Fakultas dan Program Studi</a>
                <a href="{{ url_for('countdown') }}">Informasi Pendaftaran</a>
            </div>
        </div>
        <div class="dropdown">
            {% if session.get('username') %}
                <a href="#" class="dropbtn">Profile</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('profile') }}">Ubah Sandi</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
            {% else %}
                <a href="{{ url_for('login') }}" class="dropbtn">Login</a>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        <h1>SYARAT DAN KETENTUAN YANG BERLAKU</h1>
        <section>
            <h3>Ketentuan Umum</h3>
            <ol style="margin-left: 30px;">
                <p>Dalam peraturan ini yang dimaksud dengan: </p>
                <li>Mahasiswa Baru adalah mahasiswa yang baru pertama kali terdaftar pada suatu program studi di Universitas Muhammadiyah Cirebon.</li>
                <li>Mahasiswa Pindahan adalah mahasiswa dari perguruan tinggi lain yang pindah ke Universitas Muhammadiyah Cirebon atau mahasiswa Universitas Muhammadiyah Cirebon yang pindah antar program studi di lingkungan universitas.</li>
            </ol>
            <br><h3>Ketentuan Penerimaan Mahasiswa Baru</h3>
            <ol style="margin-left: 30px;">
                <li>Sistem penerimaan mahasiswa baru di Universitas Muhammadiyah Cirebon terdiri atas beberapa jalur :</li>
                <ul>
                    <li>Jalur Reguler</li>
                    <li>Jalur Non Reguler</li>
                    <li>Jalur Pindahan</li>
                    <li>Beasiswa Bidik Misi/KIP</li>
                    <li>Beasiswa Prestasi</li>
                    <li>Beasiswa Alumni Sekolah Muhammadiyah</li>
                    <li>Beasiswa Persyarikatan</li>
                    <li>Beasiswa Hafidz</li>
                    <li>Beasiswa Prodi</li>
                </ul>
                <br><li>Persyaratan jalur penerimaan di Universitas Muhammadiyah Cirebon adalah sebagai berikut :</li>
                <ul>
                    <p><strong>Jalur Reguler</strong></p>
                    <li>Membawa fotokopi Ijazah/SKL yang telah dilegalisir</li>
                    <li>Fotokopi KTP, fotokopi KK, dan pas foto ukuran 3x4 dengan latar merah</li>
                    <li>Mengisi formulir pendaftaran secara online</li>
                    
                    <br><p><strong>Jalur non Reguler</strong></p>
                    <li>Membawa fotokopi Ijazah/SKL yang telah dilegalisir</li>
                    <li>Fotokopi KTP, fotokopi KK, dan pas foto ukuran 3x4 dengan latar merah</li>
                    <li>Mengisi formulir pendaftaran secara online</li>
                    
                    <br><p><strong>Jalur Transfer / Pindahan</strong></p>
                    <li>Menyerahkan surat keterangan pindah/rekomendasi dari institusi sebelumnya</li>
                    <li>Menyerahkan fotokopi KTP/KK</li>
                    <li>Menyerahkan fotokopi transkrip nilai yang telah dilegalisir</li>
                    <li>Menyerahkan pas foto ukuran 3x4 berwarna</li>
                    <li>Pengisian dan pembayaran formulir dilakukan setelah hasil konversi nilai keluar dari BAAK</li>
                    
                    <br><p><strong>Jalur Bidik Misi / KIP</strong></p>
                    <li>Membawa fotokopi Ijazah/SKL yang telah dilegalisir</li>
                    <li>Fotokopi KTP, fotokopi KK, rekening listrik, dan pas foto ukuran 3x4 dengan latar merah</li>
                    <li>Pemegang Kartu KIP/KKS/Program Keluarga Harapan.</li>
                    <li>Memiliki potensi akademik yang baik namun memiliki keterbatasan ekonomi yang didukung bukti dokumen yang sah</li>
                    <li>Melampirkan foto kondisi rumah (depan, belakang, samping kanan, dan kiri)</li>
                    <li>Surat keterangan tidak mampu dari Kelurahan/Desa.</li>
                    <li>Surat keterangan penghasilan orang tua dari Kelurahan/Desa</li>
                    <li>Surat rekomendasi dari Pimpinan Daerah Muhammadiyah</li>
                    <li>Fotokopi surat permohonan pengantar dari Pimpinan Cabang Muhammadiyah setempat yang ditujukan ke Pimpinan Daerah Muhammadiyah</li>
                    <li>Melampirkan sertifikat atau piagam penghargaan</li>
                    <li>Bersedia menandatangani surat pernyataan</li>
                </ul>
            </ol>
        <br><h3>Penutup</h3>
        <p style="margin-left: 30px;">Peraturan ini dibuat untuk menjamin transparansi dan kejelasan dalam proses penerimaan mahasiswa baru di Universitas Muhammadiyah Cirebon. Semua calon mahasiswa diharapkan mematuhi persyaratan dan prosedur yang telah ditetapkan untuk memastikan kelancaran proses pendaftaran dan registrasi. Apabila ada calon mahasiswa yang tidak memenuhi persyaratan atau tidak mengikuti prosedur yang telah ditetapkan, maka status pendaftarannya dapat dibatalkan dan biaya pendaftaran akan dinyatakan hangus.</p>
        </section>
    </div>
    <footer>
        <p>&copy; 2024 Sistem Penerimaan Mahasiswa Baru UMC. Made with ❤️</p>
    </footer>
</body>
</html>
