<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistem PMB UMC</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/UMC.png">
</head>
<body>
    <header>
        <h1 style="color: whitesmoke;">UNIVERSITAS MUHAMMADIYAH CIREBON</h1>
    </header>
    <nav>
        <a href="{{ url_for('index') }}">Beranda</a>
        <div class="dropdown">
            <a href="#" class="dropbtn">Pendaftaran</a>
            <div class="dropdown-content">
                <a href="{{ url_for('pendaftaran') }}">Pendaftaran Mahasiswa Baru</a>
                <a href="{{ url_for('informasi_pendaftar') }}">Informasi Pendaftar</a>
            </div>
        </div>
        
        <div class="dropdown">
            <a href="#" class="dropbtn">Informasi</a>
            <div class="dropdown-content">
                <a href="{{ url_for('informasi_kampus') }}">Informasi Seputar Kampus</a>
                <a href="{{ url_for('pengaturan_program_studi') }}">Informasi Fakultas dan Program Studi</a>
                <a href="{{ url_for('countdown') }}">Informasi Pendaftaran</a>
            </div>
        </div>
        <div class="dropdown">
            {% if session.get('username') %}
                <a href="#" class="dropbtn">Profile</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('profile') }}">Ubah Sandi</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
            {% else %}
                <a href="{{ url_for('login') }}" class="dropbtn">Login</a>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        <h1>Informasi Profil</h1>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Role:</strong> {{ user.role }}</p>

        <h2>Ganti Password</h2>
        <form action="{{ url_for('update_profile') }}" method="POST">
            <div>
                <label for="new_password">Password Baru:</label>
                <input type="password" id="new_password" name="new_password" required>
            </div>
            <div>
                <label for="confirm_password">Konfirmasi Password Baru:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>
            <button type="submit">Ganti Password</button>
        </form>
             
    </div>
    <footer>
        <p>&copy; 2024 Sistem Penerimaan Mahasiswa Baru UMC. Made with ❤️</p>
    </footer>
</body>
</html>
